/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Font */
  --heading-font: 'Over the Rainbow', cursive;
  --paragraph-font: "Roboto Mono", monospace;
  --button-font: "Roboto", sans-serif;
  /* colors */
  --primary: #F1EFDD;
  --secondary: #272826;
  --cta: #B4ADEA;
  margin: 0;
  padding: 0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Removes margin on all relevant tags. Body for an edge-to-edge look on sections, and headings/paragraphs to easier follow sketch */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}


body {
  background-color: var(--primary);
  font-family: 'Roboto', 'sans-serif';
}

h1 {
  font-family: var(--heading-font);
  font-size: 54px;
}

h2 {
  font-family: var(--paragraph-font);
}

h3 {
  font-family: var(--paragraph-font);
  font-size: 28px;
  font-weight: 400;
}

p {
  font-family: var(--paragraph-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
}


/* ------------ WELCOME ------------ */
.welcome-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 128px 16px;
  gap: 64px;
  text-align: center;
}

/* ------------ QUESTION ------------ */
.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 64px 16px;
  gap: 64px;
  max-width: 400px;
  text-align: center;
}

.options-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.option {
  width: 100%;
  height: 40px;
  text-align: left;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all .2s;
  display: flex;
  align-items: left;
}

.option:active {
  transform: scale(0.8);
}

input {
  margin-right: 10px;
}

/* ------------ FEEDBACK SECTION ------------ */

.feedback-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 64px 16px;
  text-align: center;
}

.answer-img {
  width: 164px;
  height: 164px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* This ensures the image maintains its aspect ratio and covers the container */
  max-width: 100%;
  max-height: 100%;
}

.feedback-info {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 64px 0;
}


/* ------------ SUMMARY SECTION ------------ */
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 64px 16px;
  gap: 64px;
}

.confetti-container {
  position: absolute; /* Position it absolutely to overlap other elements */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow interactions with elements underneath */
}



/* ------------ BUTTONS ----------- */
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

button {
  border: none;
  font-family: var(--button-font);
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: all .2s;
  background-color: var(--secondary);
  color: #fdfff7;
}

button:hover {
  background-color: var(--cta);
  color: var(--secondary);
}

button:active {
  transform: scale(0.8);
}

label {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-family: var(--paragraph-font);
  font: 18px;
  font-weight: 400;
}




/* ------------ MEDIA QUERIES ------------ */

/* ------------ TABLET ------------ */

@media screen and (min-width:740px) {
  .options-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;

  }

  .answer-img {
    width: 250px;
    height: 250px;
  }


}

/* ------------ DESKTOP ------------ */

@media screen and (min-width:1280px) {
  .options-container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;

  }

  .answer-img {
    width: 300px;
    height: 300px;
  }


}